@section title{<title>产品编辑</title>}


<form id="form1" class="form-horizontal" role="form" >
    <input  data-bind="value:Id" name="Id" type="hidden"/>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-2">
            

            <input name="Name" data-bind="value:Name" type="text" class="form-control"  placeholder="名称">
        </div>
    </div>
    
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">价格</label>
        <div class="col-sm-2">
            <input name="Price" data-bind="value:Price" type="text" class="form-control" id="price" placeholder="价格">
        </div>
    </div>
    
    @*<div class="form-group">
         <label class="col-sm-2 control-label">分类</label>
        <!--方法1 -->
       <div class="col-sm-2" data-bind="template: { name: 'choiceTmpl', foreach: choices, templateOptions: { selections: selectedChoices } }" >
        </div>
        <script id="choiceTmpl" type="text/html">
            <label class="checkbox-inline">
                <input type="checkbox" data-bind="attr: { value: $data.Id }, checked: $root.selectedChoices" />
                <span data-bind="text: $data.Name"></span>
            </label>
        </script>
    </div>*@
    <!--方法2 -->
    <div class="form-group">
        <label class="col-sm-2 control-label">分类</label>
        <div class="col-sm-2" data-bind="foreach: Categories" >
           <label class="checkbox-inline">
                <input name="Category.Id" type="checkbox" data-bind="attr: { value: $data.Id }, checked: $root.CategorieSelected" />
                <span data-bind="text: $data.Name"></span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">供应商</label>
         <div class="col-sm-2" data-bind="foreach: Suppliers" >
            <label class="checkbox-inline">
                <input name="Supplier.Id" type="checkbox" data-bind="attr: { value: $data.Id }, checked: $root.SupplierSelected" />
                <span data-bind="text: $data.Name"></span>
            </label>
        </div>
         
    </div>
 
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default"  data-bind="click:Save">保存</button>
        </div>
    </div>
</form>
    <div data-bind="text: ko.toJSON(CategorieSelected)"></div>
<div data-bind="text: selectedChoicesDelimited"></div>
<div data-bind="text: name"></div>
@section script
{
    <script type="text/javascript">
        var id = Request("id");
        var viewModel = {
            Id: ko.observable(),
            Name: ko.observable(),
            Price: ko.observable(),
            product: ko.observable(),
            Categories: ko.observable(),
            CategorieSelected: ko.observableArray(),
            
            Suppliers: ko.observable(),
            SupplierSelected: ko.observableArray(),
            choices: ko.observable(),// [{ Id: "1", Name: "one" }, { Id: "2", Name: "two" }],//["one", "two", "three", "four", "five"],
            selectedChoices: ko.observableArray(["1", "2"]),
        };
        viewModel.selectedChoicesDelimited = ko.computed(function() {
            return this.selectedChoices().join(",");
        }, viewModel);
        ko.applyBindings(viewModel);
        if (id != "") {
            pruductList();
        }
        $.ajax({
            type: "GET",
            url: apiUri + "Categories"
        }).done(function(data) {
             viewModel.Categories(data.value);
        }).error(function(jqXHR) {
            alert(eval("(" + jqXHR.responseText + ")").error.message);
        });
        $.ajax({
            type: "GET",
            url: apiUri + "Suppliers"
        }).done(function(data) {
            viewModel.Suppliers(data.value);
        }).error(function(jqXHR) {
            alert(eval("(" + jqXHR.responseText + ")").error.message);
        });
       

        function pruductList() {
            $.ajax({
                type: "GET",
                url: apiUri + "Products(" + id + ")"
            }).done(function (data) {
                viewModel.Id(data.Id);
                viewModel.Name(data.Name);
                viewModel.Price(data.Price);
                viewModel.CategorieSelected(new Array(data.CategoryId.toString()));//new Array("1")
                viewModel.SupplierSelected(new Array(data.SupplierId.toString()));
            }).error(function (jqXHR) {
                alert(eval("(" + jqXHR.responseText + ")").error.message);
            });
        }
        //保存
        function Save() {
            $.ajax({
                data: $("#form1").serialize(),
                type: "Post",
                url: apiUri + "Products"
            }).done(function (data) {
               
            }).error(function (jqXHR, textStatus, errorThrown) {
                alert(eval("(" + jqXHR.responseText + ")").error.message);//+ " ;textStatus:" + textStatus + ";errorThrown:" + errorThrown
            });
        }
    </script>
}
     
