@section title{<title>产品列表</title>}
<div style="margin:10px;">
    供应商名称：<input id="supplierName" type="text" class="span2 search-query">  
    产品名称：<input id="productName" type="text" class="span2 search-query"> 
    <button id="sreachBtn" type="submit" class="btn">搜索</button>
</div>
 <a href="/Knockout/Product/Edit">添加</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>产品名称</th>
            <th>分类</th>
            <th>供应商</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:oProds">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td data-bind="text: Category.Name"></td>
            <td data-bind="text: Supplier.Name"></td>
            <td>
                <a href="javascript:" data-bind="click:$root.edit">修改</a> / <a href="javascript:" data-bind="click:$root.remove">删除</a>
            </td>
        </tr>
    </tbody>
</table>
@section script
{
    <script>
        var searchUrl = apiUri + "Products?$select=Id,Name&$expand=Supplier($select=Name),Category($select=Name)";
       // var searchUrl = apiUri + "Products?$select=Name,Supplier&$expand=Supplier";
        //$select=Name,Supplier&$expand=Supplier
        
        var vmProd = {
            oProds: ko.observableArray(),
            edit: function(Supplier) {
                window.location.href = '/Knockout/Product/Edit?id=' + Supplier.Id
            },
            remove: function(Supplier) {
                $.ajax({
                    type: "delete",
                    url: apiUri + "Suppliers(" + Supplier.Id + ")"
                }).done(function(data) {
                    location.reload();
                }).error(function(jqXHR, textStatus, errorThrown) {
                    alert(eval("(" + jqXHR.responseText + ")").error.message);
                })
            }
        }
        //绑定ViewModel(vm)
        ko.applyBindings(vmProd);
        //加载列表
        loadList();
        function loadList() {
            var requestUrl = searchUrl;
            var supplierName = $("#supplierName").val().trim();
            var productName = $("#productName").val().trim();
            if (productName != '') {
                requestUrl = searchUrl + "&$filter=contains(Name,'" + productName + "') "
            }
            if (supplierName != '') {
                searchUrl = searchUrl + ",Supplier($filter=contains(Name,'" + supplierName + "'))"
            }
            $.ajax({
                type: "GET",
                url: requestUrl
            }).done(function(data) {
                vmProd.oProds(data.value);
            }).error(function(jqXHR) {
                alert(eval("(" + jqXHR.responseText + ")").error.message);
            });
        }

        $("#sreachBtn").click(function () {
            loadList();
        })
         
    </script>
}