@section title{<title>编辑供应商</title>}

<form id="form1" class="form-horizontal" role="form" method="POST" action="/home/SaveUser">
    <input name="id" type="hidden" data-bind='value:Id' />
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">供应商</label>
        <div class="col-sm-10">
            <input class="form-control" id="Name" name="Name" placeholder="供应商" data-bind='value: Name'>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" data-bind="click:Save">Submit</button>
        </div>
    </div>
</form>
@section script{
    <script>
        var id = Request('id')
        function ViewModel(data) {
            var self = this;
            self.Id = ko.observable(data.Id);
            self.Name = ko.observable(data.Name);
        }
        $.ajax({
            type: "GET",
            url: apiUri + "Suppliers(" + id + ")"
        }).done(function (data) {
            var vm = new ViewModel(data);
            ko.applyBindings(vm);
        }).error(function (jqXHR, textStatus, errorThrown) {
            alert("responseText:" + jqXHR.responseText + " ;textStatus:"+textStatus);
        });
        function Save() {
            $.ajax({
                data:$("#form1").serialize(),
                type: "Post",
                url: apiUri + "Suppliers"
            }).done(function (data) {
                var vm = new ViewModel(data);
                ko.applyBindings(vm);
            }).error(function (jqXHR, textStatus, errorThrown) {
                alert(eval("("+jqXHR.responseText+")").error.message);//+ " ;textStatus:" + textStatus + ";errorThrown:" + errorThrown
            });

        }
    </script>
}