@section title{<title>供应商列表</title>}
<div style="margin:10px;">
    供应商名称：
    <input id="name" type="text" class="span2 search-query">
    <button id="sreachBtn" type="submit" class="btn">搜索</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>类别</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:oProds">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Name"></td>
            <td>
                <a href="javascript:" data-bind="click:$root.edit">修改</a> / <a href="javascript:" data-bind="click:$root.remove">删除</a>
            </td>
        </tr>
    </tbody>
</table>
@section script
{
    <script>

        var searchUrl = apiUri + "Suppliers";
        
        //宣告一个vmProd的JSON变量
        var vmProd = {
            //宣告有个别名为oProds的子对象，指向ko.observableArray(ProodsData)
            oProds: ko.observableArray(),
            edit: function(Supplier) {
                window.location.href = '/Knockout/Supplier/Edit?id =' + Supplier.Id
            },
            remove: function(Supplier) {
                $.ajax({
                    type: "delete",
                    url: apiUri + "Suppliers(" + Supplier.Id + ")"
                }).done(function(data) {
                    location.reload();
                }).error(function(jqXHR, textStatus, errorThrown) {
                    alert(eval("(" + jqXHR.responseText + ")").error.message);
                })
            }
        }
        //绑定ViewModel(vm)
        ko.applyBindings(vmProd);
        //加载列表
        loadList();

        function loadList() {
            var requestUrl = searchUrl;
            //var PageSize = 2; var PageIndex = 1; var skipNum = (PageIndex - 1) * PageSize;
            var name = $("#name").val().trim();
            if (name != '') {
                //requestUrl = searchUrl + "?$filter=Name eq '" + name + "'";
                requestUrl = searchUrl + "?$filter=contains(Name,'"+name+"')";
            }
            $.ajax({
                type: "GET",
                url: requestUrl
            }).done(function(data) {
                vmProd.oProds(data.value);
            }).error(function(jqXHR) {
                alert(eval("(" + jqXHR.responseText + ")").error.message);
            });
            //$.get(strURL, null, function (oProdsData, status, xhr) {
            //    //将取得的对象及合，指定到ViewModel中的oProds别名
            //    //(ViewModel中，将从震裂取得资料，转给oProds)
            //    vmProd.oProds(oProdsData);
            //});
        }

        $("#sreachBtn").click(function () {
            loadList();
        })
         
    </script>
}