<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         @RenderSection("title",false)
     @*   <link href="~/Javascript/bootstrap/base.css" rel="stylesheet" />*@
      @*  <link href="~/javascript/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
        <link href="~/Javascript/bootstrap/bootstrap.css" rel="stylesheet" />
     @*   <link href="~/javascript/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />*@
    </head>
    <body>
        <br/>
        <h4>&nbsp;&nbsp;<a href="/Knockout/Product">产品列表</a> &nbsp;&nbsp;<a href="http://localhost:5027/Knockout/Supplier">供应商列表列表</a></h4>
        @RenderBody()
    </body>
    <script src="~/javascript/jquery-1.10.2.min.js"></script>
    <script src="~/javascript/bootstrap/bootstrap.min.js"></script>
    <script src="~/javascript/knockout/knockout-3.2.0.js"></script>
    <script src="~/javascript/knockout/knockout.validation.js"></script>
    <script src="~/Javascript/base.js"></script>
    @RenderSection("script", false)
</html>